<h2><u>Vincent Carbonaro's City Spade Coding Challenge</u></h2>

This current page does NOT show the most recently updated data <br>
If you would like to refresh the database click <a href="update">here</a>
<br><br>

<% @locations.each do |location| %>
  <%= "ID = " + location.pid + " - " + location.address %> -
  <br>
<% end %>
