<h2><u>Vincent Carbonaro's City Spade Coding Challenge</u></h2>

This current page does NOT show the most recently updated data <br>
<br>
If you would like to refresh the database from page 26 + click <a href="update">here</a>
<br>***this takes approximately 10 seconds***
<br><br>br
If you would like a FULL update click <a href="FULL_UPDATE">here</a>
<br>***this takes approximately 3.5 minutes***
<br><br>

<% @locations.each do |location| %>
  <%= "ID = " + location.pid + " - " + location.address %> -
  <br>
<% end %>
