<h2><u>Vincent Carbonaro's City Spade Coding Challenge</u></h2>

This page will attempt to refresh the database each time<br>
<br>
DUE TO GOOGLE MAPS API LIMITS, ONLY 5 REQUESTS CAN BE MADE PER SECOND <br>
THEREFORE ANY NEW REQUESTS WILL TAKE 0.2 SECONDS PER REQUEST. BE PATIENT.
<br><br>
If you would like to see what's in the database already, click <a href="/index">here</a>
<br><br>

<h2>Part 1: XML Fetching</h2>

<% @results.each do |location| %>
  <%= "ID = #{location.pid}, #{location.address}, lat = #{location.latitude}, long = #{location.longitude}" %>
  <br>
<% end %>

<h2>Part 2: Website Data Fetching (Only Page 26 + )</h2>

<% @results2.each do |location| %>
  <%= "ID = #{location.pid}, #{location.address}, lat = #{location.latitude}, long = #{location.longitude}" %>
  <br>
<% end %>
